body{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(PortadaLarga2.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 80%;
    font-family: source sans Pro,sans-serif;
    padding: 20px;
    margin: 20px auto;
    max-width: 700px;
    color: #000;/*Color de letra negra*/
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 10px solid rgb(0, 0, 0); /*linea de separación*/
    width: 100%;
    padding: -10px;
    background-color:white;
}
.logo_Abogado{
    width: 43px;
    height: 43px;
    padding-right: 10px;
}
h1{
    color: #efb810;
    font-size: 15px;    
}
.items{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.botons{
    border: none;
    background: none;
    padding: 23px 0;
    /*margin-left: 125px;*/
    color: #000000;
    flex-grow: 1;
    text-align: center;
}

.Blog{
    margin: bottom 20px;
    background-color: #fff;/*Agregar fondo blanco a cada blog*/
}
.date{
    color: #000;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    font-weight: 600;
}

.paragraph{
    border-left: 5px solid #2370a5;
    padding-left: 5px;
}

h2{
    font-size: 2.0rem;
    color: #000;
}

hr{
    border: 0;
    height: 0;
    border-top: 10px solid #000;
    border-bottom: 1px solid #000;
}
p{
    font-weight: 600;
}
.header img{
    background-color: white;
}
/*parte de */
.post-list{
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    padding: 30px 35px;
}
.content{
 display: grid;
 grid-template-columns: repeat(2,1fr);
 grid-gap: 20px;
 max-width: 1000px;
 margin: auto;   
}
.post-img-1{
    width: 100%;
    height: 109%;
    background-size: cover;
    background-position: center;
    transition: .2s;
}
.post-img-2{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: .2s;
}
.post{
    box-sizing: 0 1px 6px 1px rgba(0,0,0,-1);
    transition: .2s;
}
.post:hover{
    transform: translateY(-4px);
    box-shadow: 0 1px 6px 1px rgba(0,0,0,-1);
}
.post-header{
    width: 100%;
    height: 200px;
    overflow: hidden;
    cursor:pointer;
}
.post-hover .post-img-1,
.post-hover .post-img-1{
    transform: scale(1.1);
}
.post-body{
    padding: 15px;
    text-align: center;
}
.post-body span{
    display: inline-block;
    color: #999;
    margin-bottom: 10px;
}
.post-body h2{
    margin-bottom: 15px;
}
.post-body p{
    line-height: 1.5;
    margin-bottom: 20px;
}
.post-body .post-link{
    display: block;
    text-decoration: none;
    padding: 10px;
    background: #2b6ebb;
    color: #fff;
    width: 50%;
    margin: auto;
    border-radius: 20px;
    box-shadow: 1px 2px 6px 1px rgb(0,0,0,.1) ;
    transform: .2s;
}
.post-body .post-link:hover{
    background: #3378c7;
    box-shadow: 1px 2px 6px 1px rgb(0,0,0,.2) ;
    transform: translate(-2px);
}
@media(max-width:840px){
 .content{
    grid-template-columns: repeat(2,1fr);
}
}
@media(max-width:600px){
 .content{
    grid-template-columns: repeat(2,1fr);
}
}
.hidden-content {
  display: none;
}